[
  {server, [
    {certfile, "${HOSTNAME}.crt"},
    {keyfile, "${HOSTNAME}.key"},
    {secure_renegotiate, true}
  ]},
  {client, [
    {verify, verify_peer},
    {cacertfile, "inet-tls-ca.crt"},
    {secure_renegotiate, true}
  ]}
].
